:root {
    --background-color: rgb(164, 189, 164);
}

body {
    color: darkslategray
}

.ball {
    width: 250px;
    height: 250px;
    background-color: var(--background-color);
    border-radius: 125px;
}
